.copyDataTable{
    color: rgb(34, 34, 34);
    background-color: rgb(255, 187, 0);
}
.excelDataTable{
    color: rgb(34, 34, 34);
    background-color: rgb(33, 213, 17);
}
.pdfDataTable{
    color: rgb(34, 34, 34);
    background-color: rgb(255, 0, 0);
}
.printDataTable{
    color: rgb(34, 34, 34);
    background-color: rgb(83, 186, 255);
}