.copyDataTable{
    background-color: rgb(250, 202, 70);
}
.excelDataTable{
    background-color: rgb(21, 255, 0);
}
.pdfDataTable{
    background-color: rgb(255, 0, 0);
}
.printDataTable{
    background-color: rgb(83, 186, 255);
}