<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/mvcPokemon/views/css/datatables.min.css">
    <link rel="stylesheet" href="/mvcPokemon/views/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/mvcPokemon/views/css/style.css">
    <script src="https://kit.fontawesome.com/ad1181dc7c.js" crossorigin="anonymous"></script>
    <script src="/mvcPokemon/views/js/jquery-3.7.0.min.js"></script>
    <script src="/mvcPokemon/views/js/datatables.min.js"></script>
    <script src="/mvcPokemon/views/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="/mvcPokemon/views/js/productos.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark sticky-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/mvcPokemon/home">Home</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Forms
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/mvcPokemon/roles">Roles</a></li>
                                <li><a class="dropdown-item" href="/mvcPokemon/productos">Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mvcPokemon/logout">logout</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <form id="productosForm">
            <div class="row">
                <h2 class="text-center bg-dark text-white">Productos</h2>
            </div>
        
            <div class="row justify-content-center my-1">
                <div class="col-6">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="example">
                            <label for="name">Nombre Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="precio" id="precio" placeholder="example">
                            <label for="precio">Precio Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="example">
                            <label for="cantidad">Cantidad Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="example">
                            <label for="descripcion">Descripcion Del Producto:</label>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="created()">Agregar</button>
                    </form>
                </div>
            </div>
        
            <div class="row justify-content-center">
                <h2 class="text-center bg-dark text-white">Datos De Productos</h2>
                <div class="col-8">
                    <table class="table table-dark" id="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha De Creacion</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateModalLabel">Cambiar Producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-update">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="nameUpdate" id="nameUpdate"
                                placeholder="@example">
                            <label for="nameUpdate">Nombre Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="precioUpdate" id="precioUpdate"
                                placeholder="@example">
                            <label for="precioUpdate">Precio Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cantidadUpdate" id="cantidadUpdate"
                                placeholder="@example">
                            <label for="cantidadUpdate">Cantidad Del Producto:</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="descripcionUpdate" id="descripcionUpdate"
                                placeholder="@example">
                            <label for="descripcionUpdate">Descripcion Del Producto:</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            onclick="updated()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Seguro De Eliminar El Producto?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <h3 id="mensajeEliminar"></h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            onclick="deleted()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>